<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.lsem.simulation.transformation.sim.commands.TransformToSimulationCommand"
            id="de.lsem.simulation.transformation.sim.commands.transformToSim"
            name="Transform to simulation">
      </command>
   </extension>

</plugin>
