<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated simmeta -->
      <package
            uri="http://simulation.repository.lsem.de/meta/1.0"
            class="de.lsem.repository.model.simulation.ISimulationPackage"
            genModel="models/simmeta.genmodel"/>
   </extension>

</plugin>
