<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension
      point="org.eclipse.graphiti.ui.diagramTypes">
    <diagramType
      description="This is the diagram type LSEM Simulation Processes"
      id="de.lsem.simulation.DiagramType"
      name="LSEM Graphiti Diagram Type"
      type="de.lsem.simulation">
    </diagramType>
  </extension>

  <extension
      point="org.eclipse.graphiti.ui.diagramTypeProviders">
    <diagramTypeProvider
          class="de.lsem.simulation.features.SimulationDiagramTypeProvider"
          description="This is the LSEM editor using Graphiti"
          id="de.lsem.simulation.LSEMSimulatonDiagramTypeProvider"
          name="LSEM editor">
      <diagramType
        id="de.lsem.simulation.DiagramType">
      </diagramType>
    </diagramTypeProvider>
  </extension>
  <extension
        point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
     <propertyContributor
           contributorId="de.lsem.simulation.PropertyContributor"
           overridableTabListContentProvider="true"
           typeMapper="org.eclipse.ui.views.properties.tabbed.AbstractTypeMapper">
        <propertyCategory
              category="Simulation"></propertyCategory>
     </propertyContributor>
  </extension>
  <extension
        point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
     <propertyTabs
           contributorId="de.lsem.simulation.PropertyContributor">
        <propertyTab
              category="Simulation"
              id="simulation.main.tab"
              label="General">
        </propertyTab>
        <propertyTab
              afterTab="simulation.main.tab"
              category="Simulation"
              id="simulation.service.tab"
              indented="false"
              label="Service">
        </propertyTab>
        <propertyTab
              afterTab="simulation.service.tab"
              category="Simulation"
              id="simulation.capacity.tab"
              label="Capacity">
        </propertyTab>
        <propertyTab
              afterTab="simulation.capacity.tab"
              category="Simulation"
              id="simulation.time.tab"
              label="Time">
        </propertyTab>
        <propertyTab
              afterTab="simulation.main.tab"
              category="Simulation"
              id="simulation.source.first.tab"
              label="First Unit">
        </propertyTab>
        <propertyTab
              afterTab="simulation.source.first.tab"
              category="Simulation"
              id="simulation.source.following.tab"
              label="Following Units">
        </propertyTab>
        <propertyTab
              afterTab="simulation.source.following.tab"
              category="Simulation"
              id="simulation.source.good.tab"
              label="Good">
        </propertyTab>   </propertyTabs>
  </extension>
  <extension
        point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections
           contributorId="de.lsem.simulation.PropertyContributor"
        >
        <propertySection
              class="de.lsem.simulation.property.ActivityAndSinkMainSection"
              filter="de.lsem.simulation.property.ActivityAndSinkFilter"
              id="simulation.main.tab.activity"
              tab="simulation.main.tab">
        </propertySection>
        <propertySection
              afterSection="simulation.main.tab.activity"
              class="de.lsem.simulation.property.ActivityServiceSection"
              enablesFor="1"
              filter="de.lsem.simulation.property.ActivityServiceSectionFilter"
              id="simulation.service.tab.service"
              tab="simulation.service.tab">
        </propertySection>
        <propertySection
              class="de.lsem.simulation.property.ConditionalRelationMainSection"
              filter="de.lsem.simulation.property.ConditionalRelationFilter"
              id="simulation.main.tab.conditionalRelation"
              tab="simulation.main.tab">
        </propertySection>
        <propertySection
              class="de.lsem.simulation.property.SourceMainSection"
              filter="de.lsem.simulation.property.SourceFilter"
              id="simulation.source.tab.main"
              tab="simulation.main.tab">
        </propertySection>
        <propertySection
              afterSection="simulation.source.tab.main"
              class="de.lsem.simulation.property.SourceFirstEntitySection"
              filter="de.lsem.simulation.property.SourceFilter"
              id="simulation.source.first.tab.section"
              tab="simulation.source.first.tab">
        </propertySection>
        <propertySection
              afterSection="simulation.source.first.tab.section"
              class="de.lsem.simulation.property.SourceFollowingEntitiesSection"
              filter="de.lsem.simulation.property.SourceFilter"
              id="simulation.source.following.tab.section"
              tab="simulation.source.following.tab">
        </propertySection>
        <propertySection
              afterSection="simulation.source.tab.new"
              class="de.lsem.simulation.property.SourceGoodSection"
              filter="de.lsem.simulation.property.SourceFilter"
              id="simulation.source.good.tab.section"
              tab="simulation.source.good.tab">
        </propertySection>
     </propertySections>
  </extension>
  <extension
        id="Application"
        name="Simulator"
        point="org.eclipse.core.runtime.applications">
     <application
           cardinality="singleton-global"
           icon="icons/simLogo2_16_16_32Bit.png"
           thread="main"
           visible="true">
        <run
              class="de.lsem.simulation.Application">
        </run>
     </application>
  </extension>
  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="de.lsem.simulation.Perspective"
           id="de.lsem.simulation.perspective"
           name="Simulation Modeller">
     </perspective>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <wizard
           canFinishEarly="false"
           category="de.lsem.simulation.category"
           class="de.lsem.simulation.wizards.NewSimulationDiagramWizard"
           icon="icons/simLogo2_16_16_32Bit.png"
           id="de.lsem.simulation.wizards.newSimulationDiagram"
           name="Simulation Diagram"
           project="true">
     </wizard>
     <category
           id="de.lsem.simulation.category"
           name="Simulation">
     </category>
     <primaryWizard
           id="de.lsem.simulation.wizards.newSimulationDiagram">
     </primaryWizard>
  </extension>
  <extension
        point="de.cau.cs.kieler.kiml.service.layoutManagers">
     <manager
           class="de.lsem.simulation.layoutManagers.SimMetaDiagramLayoutManager"
           priority="1">
     </manager>
  </extension>
  <extension
        id="simulator"
        point="org.eclipse.core.runtime.products">
     <product
           application="org.eclipse.ui.ide.workbench"
           name="Simulator">
        <property
              name="windowImages"
              value="platform:/plugin/de.lsem.simulation.transformation.sim/icons/bmp/simLogo16.bmp,platform:/plugin/de.lsem.simulation.transformation.sim/icons/bmp/simLogo32.bmp,platform:/plugin/de.lsem.simulation.transformation.sim/icons/bmp/simLogo48.bmp,platform:/plugin/de.lsem.simulation.transformation.sim/icons/bmp/simLogo64.bmp,platform:/plugin/de.lsem.simulation.transformation.sim/icons/bmp/simLogo128.bmp">
        </property>
        <property
              name="aboutText"
              value="%productBlurb">
        </property>
        <property
              name="aboutImage"
              value="platform:/plugin/de.lsem.simulation.transformation.sim/icons/bmp/simLogo128.bmp">
        </property>
        <property
              name="startupForegroundColor"
              value="FFFFFF">
        </property>
        <property
              name="startupProgressRect"
              value="2,290,448,10">
        </property>
        <property
              name="startupMessageRect"
              value="7,225,320,20">
        </property>
        <property
              name="appName"
              value="Simulator">
        </property>
        <property
              name="preferenceCustomization"
              value="plugin_customization.ini">
        </property>
     </product>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.graphiti.ui.editor.DiagramEditor?after=additions">
        <command
              commandId="de.lsem.simulation.transformation.commands.transformToAnylogic"
              icon="icons/anylogic_logo_16_16.png"
              label="Transform to Anylogic"
              style="push">
        </command>
        <command
              commandId="de.lsem.simulation.transformation.ed.transformToED"
              icon="icons/enterprisedynamics.png"
              label="Transform to Enterprise Dynamics"
              style="push">
        </command>
        <command
              commandId="de.lsem.simulation.transformation.mdb.commands.transformToArena"
              icon="icons/arena_icon_16_16.png"
              label="Transform to ARENA"
              style="push">
        </command>
        <command
              commandId="de.lsem.simulation.transformation.sim.commands.transformToSim"
              icon="icons/simLogo2_16_16_32Bit.png"
              label="Transform to Simulation"
              style="push">
        </command>
        <separator
              name="de.lsem.simulation.separator2"
              visible="true">
        </separator>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.eclipse.ui.main.toolbar">
        <toolbar
              id="de.unileipzig.wifa.simulation.toolbar"
              label="Transformations">
           <command
                 commandId="de.lsem.simulation.transformation.ed.transformToED"
                 icon="icons/enterprisedynamics.png"
                 label="Transform to Enterprise Dynamics"
                 style="push">
           </command>
           <command
                 commandId="de.lsem.simulation.transformation.commands.transformToAnylogic"
                 icon="icons/anylogic_logo_16_16.png"
                 label="Transform to Anylogic"
                 style="push">
           </command>
           <command
                 commandId="de.lsem.simulation.transformation.mdb.commands.transformToArena"
                 icon="icons/arena_icon_16_16.png"
                 label="Transform to ARENA"
                 style="push">
           </command>
           <command
                 commandId="de.lsem.simulation.transformation.sim.commands.transformToSim"
                 icon="icons/simLogo2_16_16_32Bit.png"
                 label="Transform to Simulation"
                 style="push">
           </command>
        </toolbar>
     </menuContribution>
  </extension>
</plugin>

