<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.lsem.simulation.validation.commands.Validate"
            id="de.lsem.simulation.validation.commands.validate"
            name="Simulation Validation">
      </command>
   </extension>

</plugin>
